body {
    font-family: arial;
}

#wrapper {
    max-width: 960px;
    margin: auto;
}

#quiz {
    display: none;
}

#question {
    display: none;
}

#scoreboard-container {
    display: none;
}

#scoreboard {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

#scoreboard th {
    border-bottom: 2px solid black;
}

#scoreboard th:nth-child(2) {
    border-left: 2px solid black;
}

#scoreboard td {
    border-top: 2px solid black;
    text-align: center;
}

#scoreboard td:nth-child(2) {
    border-left: 2px solid black;
}

#scoreboard tr:nth-child(2n) {
    background-color: #dddddd;
}

#quiz__next-question {
    font-size: 20px;
}

#question__answers {
    font-size: 0px;
    text-align: center;
}

#question__answers button {
    width: 48%;
    margin: 1%;
    padding: 20px;
    font-size: 30px;
    min-width: 300px;
}